html {
  font-family: 'Poppins', sans-serif;
}

.mobile-container {
  max-width: 300px;
  margin: 20px auto;
}

header {
  margin-top: 30px;
}

h1 {
  color: #2A4F9F;
  margin-top: 0;
}

.center-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

a {
  color: #2A4F9F;
}

.tagline {
  color: #707070;
  font-size: .9em;
}

.shifted-to-the-right {
  margin-left: 15px;
}

.mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  height: 50px;
  width: 50px;
  background-image: url(../assets/logo.png);
  background-position: center center;
  background-size: cover;
  text-align: center;
}