.page-header {
    color: #364893;
    margin: 20px 40px;
}

.poi-single-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.poi-title {
    text-transform: capitalize;
}

.poi-image {
    width: 1.75in;
    height: 1.3in;
    background-size: cover;
    background-position: center center;
}

.poi-content {
    font-size: 1.1em;
    margin-left: 20px;
    max-width: 68%;
}

.poi-container {
    margin: 20px 40px;
}

.space-top {
    height: 20px;
    width: 100%;
}