header
    h1.capitalize__heading confirm booking
    a(href="#").back-link.shifted-to-the-right < Go Back

.selected-tour-container
    .selected-tour__item.list__item
        .shifted-to-the-right.list__top-section
            .list__icon--tick
            .grey-caps.list__title selected tour
    .tour-card
            .tour-card__push-down
            .tour-card__info-container
                .tour-card__title full day city tour
                a(href="#").tour-card__learn-more-button learn more
            .tour-card__bg-blur
            img.tour-card__bg-image(src="https://images.unsplash.com/photo-1551446591-142875a901a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80")        

.details__advanced-container
    h3.confirm__advanced.advanced__heading.details__heading advanced options
    .advanced__options-container
        .advanced-option
            input(type="checkbox")
            //- inp.advanced-option__radio-input 
            .advanced-option__title add a hotel
            .advanced-option__price (+ BND 60)
        .advanced-option
            input(type="checkbox")
            //- inp.advanced-option__radio-input 
            .advanced-option__title add insurance
            .advanced-option__price (+ BND 30)
        .advanced-option
            input(type="checkbox")
            //- inp.advanced-option__radio-input 
            .advanced-option__title add air ticket
            .advanced-option__price (variable)

.customer-details__container
    .list__item
        .shifted-to-the-right.list__top-section
            .list__icon--tick
            .grey-caps.list__title your details
    .push-down-container
        input(type="text", name="name", placeholder="What is your name?")
        input(type="email", name="email", placeholder="What is your email?")
        input(type="tel", name="phone-number", placeholder="What is your phone number?")


.tour-date__container
    .list__item.push-down-container
        .shifted-to-the-right.list__top-section
            .list__icon--tick
            .grey-caps.list__title preferred tour date
    .push-down-container
        input(type="date", name="date", placeholder="Preferred tour date").date-input

.details__live-price.push-down-container
    .live-price__price-container
        h4.live-price__heading current total:
        h2.live-price__price BND $99
    button.live-price__button
        .live-price-button__text confirm booking
        .live-price-button__icon