header
    h1.capitalize__heading full day city tour
    p.details-tagline.shifted-to-the-right.tagline 3 Adults, 2 Children, 1 Day
    img(src="https://images.unsplash.com/photo-1491905420573-0d1bdfd6436a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80").details__big-image
    .details__dots-container
        .dots__titles
            .yellow-caps starts
            .yellow-caps destinations
            .yellow-caps end
        .dots__actual-dots-container
            .dot
            .dot
            .dot
            .line
        .dots__info-container
            .dots__info bandar seri begawan airport
            .dots__info +9
            .dots__info bandar seri begawan airport

    .details__highlights-container
        img(src="https://images.unsplash.com/photo-1443041124825-58b8f08ee398?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80").highlights__image
        h3.highlights-heading.details__heading Highlights
        p.highlights__p.
            On this full day tour, you will experience the best that Brunei has to offer. Brunei's golden domes await you on this journey of exploring the Borneo's abode of peace. This tour encompasses the best monuments and iconic sites that is part of Seri Begawan City, including awe-inspiring museums and an immersive experience at the water village. In the midst of the excitement, you will eat lunch the locals at a Bruneian restaurant.
        .highlights__info-container
            .highlights__titles
                .yellow-caps.highlights__info-title age range
                .yellow-caps.highlights__info-title group size
                .yellow-caps.highlights__info-title travel style
            .highlights__content
                .highlights__info-content Min. 8 year old
                .highlights__info-content Min. 3 to 12
                .highlights__info-content cultural discovery
    .details__itinerary-container
        img(src="https://images.unsplash.com/photo-1471973772471-ecd9cf9eb04e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80").itinerary__image
        h3.itinerary__heading.details__heading Itinerary
        a(href="#").itinerary__download Download PDF Brochure
        .itinerary__list-container.list__expand-container
            .list__expand-all Expand all
            .list__item
                .list__icon--dot
                .list__title introduction
                .list__expand-arrow
                .list__description 
    .details__included-container
        .details__heading What's Included
        .list__expand-container
            .list__expand-all Expand all
            .list__item
                .list__icon--tick
                .list__title tour coordinator
                .list__expand-arrow
                .list__description
    .details__not-included-container
        .details__heading not included
        .list__expand-container
            .list__expand-all Expand all
            .list__item
                .list__icon--tick
                .list__title flights
                .list__expand-arrow
                .list__description
    .details__image-grid
        img(src="https://images.unsplash.com/photo-1460968165139-8bbbbb12869c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80").image-grid__one
        img(src="https://images.unsplash.com/photo-1435265603574-177a37a94c2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80").image-grid__two
        img(src="https://images.unsplash.com/photo-1549877452-9c387954fbc2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80").image-grid__three
        img(src="https://images.unsplash.com/photo-1517505964376-f1d72fcd566b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80").image-grid__four
    
    .details__advanced-container
        .details__heading advanced options
        .advanced__options-container
            .advanced-option
                input(type="checkbox")
                //- inp.advanced-option__radio-input 
                .advanced-option__title add a hotel
                .advanced-option__price (+ BND 60)
            .advanced-option
                input(type="checkbox")
                //- inp.advanced-option__radio-input 
                .advanced-option__title add insurance
                .advanced-option__price (+ BND 30)
            .advanced-option
                input(type="checkbox")
                //- inp.advanced-option__radio-input 
                .advanced-option__title add air ticket
                .advanced-option__price (variable)
    
    .details__live-price
        .live-price__heading current total:
        .live-price__price $99
        .live-price__button
            .live-price-button__text confirm booking
            .live-price-button__icon



