header
    h1.shifted-to-the-right Thank you for <br/>choosing<br/> Grace Travel <br/> Agency
    p.thank-you__tagline.shifted-to-the-right.tagline.
        We will be in touch with you within 24 hours, we look forward to taking you on the tour!

.thank-you__logo